body {
    font-family: Helvetica, sans-serif;
    margin: 20px;
    background-color: #c4c4c4;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 90%;
}

.container {
    background-color: #4c00ff;
    padding: 30px;
    border-radius: 8px;
    max-width: 400px;
    width: 100%;
    margin: 20px 0;
    text-align: center;
}

input[type="number"] {
    padding: 10px;
    background-color: rgb(44, 44, 44);
    color: #eee;
    margin-bottom: 15px;
    border: 2px solid #7700ff;
    font-size: 18px;
    border-radius: 12px;
}

button {
    background-color: #ff8800;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #b3ff00;
    color: #000000;
    box-shadow: #000000 1px 1px 0px;
    transform: scale(1.05);

}

button:active {
    background-color: #b8ff75;
    color: #000000;
    box-shadow: #000000 1px 1px 0px;
    transform: scale(0.95);
}

#resultadoTabuada {
    margin-top: 20px;
    text-align: center;
    border-top: 1px solid hsl(88, 100%, 79%);
    padding-top: 15px;
    font-size: 16px;
}

#resultadoTabuada p {
    margin: 5px 0;
}