body {
    font-family: Arial, sans-serif;
    background-color: #000000 ;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
  }
  
  .container {
    background: linear-gradient(135deg, #3bffde, #66a6ff, #0056b3);
    color: #000000;
    padding: 2rem;
    border: #003253 3px solid;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    text-align: center;
    width: 450px;
    height: 450px;
  }
  
  #tituloNotas {

  margin-bottom: 5px; /* aumenta o espaço abaixo do título */
  margin-top: 40px;
}

  input {
    width: 30%;
    padding: 0.5rem;
    margin-top: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  #btnAdicionarNota {
  background-color: #1b6e2e; /* Verde Bootstrap */
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

#btnAdicionarNota:hover {
  background-color: #2db34a;
}
  
  button {
    margin-top: 1rem;
    padding: 5px 10px;
    border: 1px;
    background-color: #002c5c;
    color: white;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  #resultado {
    margin-top: 1rem;
    font-weight: bold;
  }
  
  #listaNotas {
    color: #ffffff;
    list-style: none;
    padding: 0;
    margin: 1rem 0 0;
  }
  
  .aprovado {
    background-color: #01580f;
    padding: 10px;
    border-radius: 10px;
    color: black;
    
  }
  
  .recuperacao {
    background-color: #d3cf00;
    padding: 10px;
    border-radius: 10px;
    color: black;
  }
  
  .reprovado {
    background-color: #960000;
    padding: 10px;
    border-radius: 10px;
    color: black;
  }
  